{% extends "base.html" %}
{% block content %}

<main>
    <section class="about-section">
        <h2>About Us</h2>
        <p>Welcome to the Blood Bank System web application, developed by a team of dedicated students from SRM University. Our application aims to revolutionize the process of blood donation and distribution by providing a comprehensive platform for donors, receivers, hospitals, and blood banks.</p>
        <br>
        <h3>Key Features :</h3>
        <br>
        <ul>
            <li><strong>Donor and Receiver Registration :</strong>  Users can register as donors or receivers to participate in blood donation and request processes.</li>
            <li><strong>Blood Donation Requests :</strong>  Receivers can post requests for specific blood types, and donors can respond to these requests by donating blood directly or through blood banks.</li>
            <li><strong>Inventory Management :</strong>  Hospitals and blood banks have access to inventory management tools to update and maintain their available stock of blood units.</li>
            <li><strong>Blood Community :</strong>  A special community feature allows receivers to post urgent blood requests, which can be seen by both donors and blood banks.</li>
            <li><strong>User Profiles :</strong>  Each user has a profile where they can manage their personal information, donation history, and donation preferences.</li>
            <li><strong>Search and Filter :</strong>  Users can search for blood donors, blood banks, and hospitals based on location, blood type, and availability.</li>
            <li><strong>Notifications :</strong>  Users receive notifications for donation requests, inventory updates, and other relevant activities.</li>
        </ul>
        
        <p>Our team is committed to continually improving and expanding the features of the Blood Bank System to better serve the community and save lives.</p>
<br>
        <h3>Meet Our Team:</h3>
        <ul class="team-list">
            <li>
                <strong>Priyansha Polavarapu</strong><br>
                AP21110010350<br>
                <a href="mailto:priyansha_polavarapu@srmap.edu.in">priyansha_polavarapu@srmapedu.in</a>
            </li>
            <li>
                <strong>Dasaka Sathvik</strong><br>
                AP21110010351<br>
                <a href="mailto:dasakasai_sathvik@srmap.edu.in">dasakasai_sathvik@srmapedu.in</a>
            </li>
            <li>
                <strong>Diswanth Movva</strong><br>
                AP21110010352<br>
                <a href="mailto:diswanth_movva@srmap.edu.in">diswanth_movva@srmapedu.in</a>
            </li>
            <li>
                <strong>Sudarshan Tunuguntla</strong><br>
                AP21110010353<br>
                <a href="mailto:devendrasudarshan_t@srmap.edu.in">devendrasudarshan_t@srmapedu.in</a>
            </li>
        </ul>
    </section>
</main>

{% endblock %}