{% extends "base.html" %}
{% block content %}

<main>
    <div class="photos">
        <img src="{{url_for('static',filename='cover.jpg')}}" alt="Dummy Photo 1">
        <img src="{{url_for('static',filename='OIP.jpeg')}}" alt="Dummy Photo 2" class="hidden">
        <button id="nextBtn">&gt;</button>
    </div>
    <div class="login-form">
        <div class="card">
            <h1 class="center">Log In</h1>
            <form name="login_form">
                <label for="email">Email</label>
                <input type="email" name="email" class="field" required>

                <label for="password">Password</label>
                <input type="password" name="password" class="field" required>

                <!-- Add captcha if necessary -->

                <p class="error error--hidden"></p>

                <input type="submit" value="Log In" class="btn">
            </form>
        </div>
    </div>
</main>
{% endblock %}