<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Dashboard - Blood Bank System</title>
    <link rel="stylesheet" href="/static/css/styles_dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="/static/css/request_history.css"> -->
    <link rel="stylesheet" href="/static/css/comm2.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{url_for('static',filename='logo.jpeg')}}" alt="Blood Bank Logo">
        </div>
        <h1>Blood Bank System</h1>
        <div class="temp">
            <a href="/dashboard">Dashboard</a>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><i class="fa fa-user"></i> Profile</button>
            <div class="dropdown-content">
                <a href="/profile">Profile</a>
                <a href="/editprofile">Edit Profile</a>
                <a href="/user/signout">Log Out</a>
            </div>
        </div>
    </header>
    <main>
        <section class="requests-section">
            <h2>My Active Requests</h2>
            <div class="request-list">
                {% for request in active_requests %}
                <div class="request-card">
                    <h3>Patient Name: {{ request.patient_name }}</h3>
                    <p>Phone Number: {{ request.phone_number }}</p>
                    <p>Email : {{request.email}}</p>
                    <p>Date Required: {{ request.need_date }}</p>
                    <p>Blood Group Needed: {{ request.blood_group }}</p>
                    <p>Units Needed: {{ request.units }}</p>
                    <!-- <p>Address: {{ request.address }}</p> -->
                    <!-- <p>Email : {{request.email}}</p> -->
                    <p>Purpose : {{request.purpose}}</p>
                    <!-- <form action="/delete_request" method="POST">
                        <input type="hidden" name="request_id" value="{{ request.id }}">
                        <button type="submit">Delete</button>
                    </form> -->
                    <a href="{{ url_for('delete_request', id=request.id) }}" style="text-decoration:none;" color=black>Delete</a>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
</body>
</html>